{%extends 'base.html'%}
{%block title%}<title>Random Number Generator</title>{%endblock%}
{%block body%}
<h1>Random Number Generator</h1>

<form method="post" class="form mb-3 form-control">
    <label>Generate <input type="number" placeholder="How many" value="{{previous_amount}}" name="amount">  random number(s)</label>
    <label>from
    <input type="number" id="number1" name="number1" placeholder="Number 1" value="{{previous_number1}}"></label>
    <label>to
    <input type="number" id="number2" name="number2" placeholder="Number 2" value="{{previous_number2}}"></label>
    <input type="submit" class="btn btn-primary">
</form>

<div class="mb-3"><p><b>Your random number(s): </b>{{ number }}</p></div>




{%endblock%}